!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
  %head
    %title JOHNNYVILLE SLUGGER
    %link(rel="stylesheet" href="/stylesheets/application.css")
    %script(type="text/javascript" src="https://d1zguf60fl3jx1.cloudfront.net/jvslite/jquery.js")
    %script(type="text/javascript" src="/javascripts/application.js")
  %body
    .container

      / primary header
      .span-17
        %header
          .h-line
          %section
            .left-hand
            .main#title
              %a{href: "/"}
                JOHNNYVILLE SLUGGER
            .right-hand
          .h-line

      / main banner
      .span-17
        #whomade.left
          = image_tag "whomade.png"
        .redstar
        .imgbanner.left
          = image_tag "stones.png"
          %a{href: "/vinnie"}
            = image_tag "vinnie.png"

      / secondary header
      .span-17
        %header
          .h-line
          %section
            .left-hand
            .main#best THE BEST GIFT IN THE HISTORY OF THE WORLD!!! (FOR UNDER $200)
            .right-hand
          .h-line

      / first text block
      .span-17
        .imgbanner.left
          = image_tag "scriptmade.png", "style=\"margin-top: 35px;\""
          = image_tag "logo.png", "style=\"margin-top: 35px;\" id=\"logo\""
        .redstar
        %section.bodytext.left
          %h1 BASEBALL BATS - MADE YOUR WAY!
          %p
            Johnnyville Slugger creates the best custom-engraved baseball bats you’ve ever seen. We work hard to create a bat you’ll be proud to hold, display and show off. We specialize in putting your custom logo and any signature on the bat you choose, AND YOUR handwritten salutation on its back.
            %br
            %br
            We design unique gifts to impress folks who have everything: corporate gifts, graduation, birthday, retirement, wedding and baby gifts.
            %br
            %br
            Got a favorite band, business, college or sports team? Whatever you dream up, we can make it happen. The bats aren’t just for sports lovers, however... we can do movies, cartoons, just about anything.

      / second text block
      .span-17
        .h-line
        %section#info.bodytext.left
          %h1 HOW TO ORDER YOUR CUSTOM BAT
          %p
            CALL: JOHNNY S at 216-470-4838
            %br
            %br
            EMAIL:
            %a{href:"mailto: johnnys@johnnyvilleslugger.com", class: "mail"}
              johnnys@johnnyvilleslugger.com
            %br
            %br
            VISIT: 1826 W 25th STREET
            %br
            CLEVELAND, OH 44113
            %br
            Just North of the West Side Market in Cleveland’s Ohio City neighborhood

        .redstar
        .imgbanner.left
          = image_tag "who.png"
          = image_tag "navy.png"

      / dynamic
      .span-17#preview
        .h-line
        = yield

      .span-17.last#footer
