!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
  %head
    %title JOHNNYVILLE SLUGGER
    %link(rel="stylesheet" href="/stylesheets/application.css")
  %body
    .container

      / primary header
      .span-17
        %header
          .h-line
          %section
            .left-hand
            .main#title JOHNNYVILLE SLUGGER
            .right-hand
          .h-line

      / main banner
      .span-17
        #whomade.left
          %img(src="#{source}/whomade.png")
        .redstar
        .imgbanner.left
          %img(src="#{source}/stones.png")
          %img(src="#{source}/vinnie.png")

      / secondary header
      .span-17
        %header
          .h-line
          %section
            .left-hand
            .main#best THE BEST GIFT IN THE HISTORY OF THE WORLD FOR UNDER $200
            .right-hand
          .h-line

      / first text block
      .span-17
        .imgbanner.left
          %img(src="#{source}/scriptmade.png" style="margin-top: 35px;")
          %img#logo(src="#{source}/logo.png" style="margin-top: 35px;")
        .redstar
        %section.bodytext.left
          %h1 CUSTOM-MADE BASEBALL BATS
          %p
            Johnnyville Slugger is your source for the best custom-engraved baseball bats you’ve ever seen. Using only the finest ash, oak, and maple wood, Johnnyville Slugger works hard to create a bat you’re proud to hold, display and show off.
            %br
            %br
            We offer a plethora of custom bats - unique gifts to impress the folks that have everything. You can use these bats for corporate gifts, graduation and birthday gifts, retirement and even baby gifts.
            %br
            %br
            We specialize in putting your custom logo and signature on the bat you choose. Whatever you think of, we can create.

      / second text block
      .span-17
        .h-line
        %section.bodytext.left
          %h1 THE BEST POSSIBLE GIFT FOR UNDER $200
          %p
            text
        .redstar
        .imgbanner.left
          %img(src="#{source}/who.png")
          %img(src="#{source}/indians.png")

      / dynamic
      .span-17#preview
        .h-line
        = yield

      .span-17.last#footer
        /%img(src="images/footer_flourish.png")
