!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
  %head
    %title JOHNNYVILLE SLUGGER
    %link(rel="stylesheet" href="/stylesheets/application.css")
  %body
    .container
      .span-17
        %header
          %img(src="images/header_line1.png" class= 'h-line')

          %section
            %span#left-hand
              %img(src="images/hand_left.png")
            %span#title
              %div JOHNNYVILLE SLUGGER
            %span#right-hand
              %img(src="images/hand_right.png")

          %img(src="images/header_line1.png" class= 'h-line')

      .span-17
        #whomade.left
          %img(src="#{source}/whomade.png")
        .redstar
        .imgbanner.left
          %img(src="#{source}/stones.png")
          %img(src="#{source}/vinnie.png")


      .span-17
        %img(src="images/header_line1.png" class= 'h-line')

        .imgbanner.left
          %img(src="#{source}/scriptmade.png" style="margin-top: 35px;")
          %img#logo(src="#{source}/logo.png" style="margin-top: 35px;")
        .redstar
        %section#bodytext.left
          %h1 CUSTOM-MADE BASEBALL BATS
          %p
            Johnnyville Slugger is your source for the best custom-engraved baseball bats you’ve ever seen. Using only the finest ash, oak, and maple wood, Johnnyville Slugger works hard to create a bat you’re proud to hold, display and show off.
            %br
            %br
            We offer a plethora of custom bats - unique gifts to impress the folks that have everything. You can use these bats for corporate gifts, graduation and birthday gifts, retirement and even baby gifts.
            %br
            %br
            We specialize in putting your custom logo and signature on the bat you choose. Whatever you think of, we can create.

      .span-17
        %img(src="images/header_line1.png" class= 'h-line')

        %section#bodytext.left
          %h1 THE BEST POSSIBLE GIFT FOR UNDER $200
          %p
            text #{source}
        .redstar
        .imgbanner.left
          %img(src="#{source}/who.png")
          %img(src="#{source}/notre-dame.png")

      .span-17#preview
        %img(src="images/header_line1.png" class= 'h-line')
        = yield

      .span-17.last#footer
        %img(src="images/footer_flourish.png")
