#gallery
  .row
    .frame.left
      %h3 Cleveland Skyline and Indians
      = image_tag "01.png", page
      %p Honey Amber on Oak

    .frame.right
      %h3 Ace Retirement
      = image_tag "02.png", page
      %p Golden Oak Finish on Oak

  .row
    .frame.left
      %h3 For a doctor: Hospital and Colleges
      = image_tag "03.png", page
      %p Golden Oak Finish on Oak

    .frame.right
      %h3 Gramps
      = image_tag "04.png", page
      %p Golden Oak Finish on Oak

  .row
    .frame.left
      %h3 A Hawker Pilot
      = image_tag "05.png", page
      %p Black Cherry on Maple

    .frame.right
      %h3 Marblehead Lighthouse, Indians, Marines
      = image_tag "06.png", page
      %p Honey Amber on Oak

  .row
    .frame.left
      %h3 Law Firm and San Francisco
      = image_tag "07.png", page
      %p Honey Amber on Ash

    .frame.right
      %h3 Fathers Day Message
      = image_tag "08.png", page
      %p Black Cherry on Maple

  .row
    .frame.left
      %h3 Coach’s Trail
      = image_tag "09.png", page
      %p Golden Oak Finish on Maple

    .frame.right
      %h3 Plumber’s Retirement
      = image_tag "10.png", page
      %p Light Oak Finish on Oak
  .row
    .frame.left
      %h3 Star of David
      = image_tag "11.png", page
      %p Opaque Whitewash on Ash

    .frame.right
      %h3 Radio Station
      = image_tag "12.png", page
      %p Pearl White on Maple
