#gallery
  .frame.left
    %h3 header
    %img(src="#{gallery}/01.png")
    %p test

  .frame.right
    %h3 header
    %img(src="#{gallery}/02.png")
    %p test

  .frame.left
    %h3 header
    %img(src="#{gallery}/03.png")
    %p test

  .frame.right
    %h3 header
    %img(src="#{gallery}/04.png")
    %p test

  .frame.left
    %h3 header
    %img(src="#{gallery}/05.png")
    %p test

  .frame.right
    %h3 header
    %img(src="#{gallery}/06.png")
    %p test

  .frame.left
    %h3 header
    %img(src="#{gallery}/07.png")
    %p test

  .frame.right
    %h3 header
    %img(src="#{gallery}/08.png")
    %p test

  .frame.left
    %h3 header
    %img(src="#{gallery}/09.png")
    %p test

  .frame.right
    %h3 header
    %img(src="#{gallery}/10.png")
    %p test
