#gallery
  .row
    .frame.left
      %h3 Gentleman Jack
      = image_tag "01.png", page
      %p Honey Amber on Oak
    .frame.right
      %h3 This Corporate Logo is Art!
      = image_tag "02.png", page
      %p Silver on Maple

  .row
    .frame.left
      %h3 West Side Market
      = image_tag "03.png", page
      %p Honey Amber on Curly Maple

    .frame.right
      %h3 Tilted Kilt
      = image_tag "04.png", page
      %p Translucent Red on Maple

  .row
    .frame.left
      %h3 A Life Story Bat
      = image_tag "05.png", page
      %p Black Cherry on Maple

    .frame.right
      %h3 A Grandpa’s Family
      = image_tag "06.png", page
      %p Honey Amber on Ash

  .row
    .frame.left
      %h3 Cleveland Indians
      = image_tag "07.png", page
      %p Light Oak Finish on Oak

    .frame.right
      %h3 Ohio State
      = image_tag "08.png", page
      %p Pearl White on Maple

  .row
    .frame.left
      %h3 Bob Marley
      = image_tag "09.png", page
      %p Black on Maple

    .frame.right
      %h3 Great Lakes Brewery
      = image_tag "10.png", page
      %p Rosewood on Oak
  .row
    .frame.left
      %h3 More Corporate Art
      = image_tag "11.png", page
      %p Pearl White on Maple
    .frame.right
      %h3 St. Edward High School
      = image_tag "12.png", page
      %p Translucent Green on Maple
