#gallery
  .row
    .frame.left
      %h3 Indians
      = image_tag "01.png", page
      %p Light Oak Finish on Oak

    .frame.right
      %h3 Indians and Navy Crest
      = image_tag "02.png", page
      %p Honey Amber on Oak

  .row
    .frame.left
      %h3 This Guy wanted the Mustard Bottle
      = image_tag "03.png", page
      %p Custom Mustard Paint on Maple

    .frame.right
      %h3 Cubs
      = image_tag "04.png", page
      %p Pearl White on Maple

  .row
    .frame.left
      %h3 NY Yankees Pinstripes
      = image_tag "05.png", page
      %p Pearl White on Maple

    .frame.right
      %h3 Yankees, Cathedral Latin High School
      = image_tag "06.png", page
      %p Honey Amber on Oak

  .row
    .frame.left
      %h3 Boston Red Sox
      = image_tag "07.png", page
      %p Natural Finish on Maple

    .frame.right
      %h3 Boston Teams
      = image_tag "08.png", page
      %p Honey Amber on Oak

  .row
    .frame.left
      %h3 Cincinnati Reds
      = image_tag "09.png", page
      %p Honey Amber on Ash

    .frame.right
      %h3 San Francisco Giants
      = image_tag "10.png", page
      %p Black on Maple
  .row
    .frame.left
      %h3 Texas Rangers
      = image_tag "11.png", page
      %p Translucent Blue on Ash

    .frame.right
      %h3 LA Dodgers
      = image_tag "12.png", page
      %p Translucent Blue on Maple

  .row
    .frame.left
      %h3 Minnesota Twins
      = image_tag "13.png", page
      %p Opaque Blue on Maple

    .frame.right
      %h3 NY Mets
      = image_tag "14.png", page
      %p Light Oak Finish on Oak

= haml :_links, locals: {links: links}
